@charset "UTF-8";



.imageSize {width: 50px; height: 50px;}

.hidden {visibility: hidden;}

.scroll {width: 290px; height: 100px; overflow-y: scroll;}

.outerWindow{width: 300px; height: 300px; border-radius: 5px; background-color: white; box-shadow: 2px 2px 2px black; transform: translate3d(10px, 10px, 0);}

.outerWindow:active {border: 5px solid yellow;}

.topMenu{width: 300px; height: 30px; border: border-radius: 5px; background-image: url("../image/topbar.jpg");}

.topMenu img {float: right; padding-right: 2px; padding-top: 2px;}

#desktop {width: 1280px; height: 720px; background-image: url("../image/bw.jpg");}

#content {width: 1280px; height: 650px;}

#bottomMenuBar {width: 1278px; height: 68px; border: 1px solid black; background-image: url("../image/mbar.jpg"); border-radius: 5px;}

#bottomMenuBar img {padding-left: 10px;}

